

  

  




.navbar-brand {
    font-family: "Salsa", cursive;
}

h2 {
    font-family: "Salsa", cursive;
}

button {
    font-family: "Salsa", cursive;
}



.hero-section {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    padding: 80px 20px;
}

main {
    padding: 80px 20px;
}

.red-squirrel {
    background-color: #C9D9AC;
    padding: 20px;
    border-radius: 8px;
    margin: 40px 0;
}

.caution-section {
    color: white;
    background-color: #A9BB86;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 40px 0;
  }

.fund-section {
    background-color: #C9D9AC;
    padding: 20px;
    border-radius: 8px;
    margin: 40px 0;

}

footer {
    background-color: #728D53;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
.footer {
    background-color: #728D53;
    color: white;
    padding: 20px 0;
    text-align: center;
  }

ul {
    list-style: none;
}